  {% extends "base.html" %}
  {%block start%}
    <h2>Hello I am Diganta <br>Trying to learn Django from Scratch</h2>
    <h3>Here I am just a <b><h1>Begginer</h1></b></h3>
    <h1>Let me try to use a table to fetch data from backend</h1>
    {% comment %}  django er data print korte {{}} eta use korte hoy after adding context {% endcomment %}
    <table>
        <tr>
          <th>S.no</th>
          <th>Name</th>
          <th>Age</th>
          <th>Favourite Passtime</th>
          <th>Can vote</th>
        </tr>
        {% for people in peoples %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{people.name}}</td>
          <td>{{people.age}}</td>
          <td>{{people.leisure}}</td>
          <td {% if people.age >= 18 %} style = "background-color:green;"  {%endif%}}
            {% if people.age < 18 %} style = "background-color:red;"  {%endif%}}>
            {% if people.age >= 18 %}
            👍
            {%else %}
            👎
            {%endif %}
          </td>
          
        </tr>
        {%endfor %}
      </table>
      <a href="about/"> <b>About</b></a>
      <a href="contact/"> <b>contact</b></a>
      <br>
      {%if 'Cucumber' in vegetables %}
      Yes cucumber available
      {% elif 'Tomato' in vegetables %}
      Yes <b style = "color:red" >Tomato </b> available
      {% else %}
      No, Not available
      {% endif %}
    {%endblock%}